<h1>Listing kits</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Kit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kits.each do |kit| %>
  <tr>
    <td><%= kit.title %></td>
    <td><%= kit.kit_id %></td>
    <td><%= link_to 'Show', kit %></td>
    <td><%= link_to 'Edit', edit_kit_path(kit) %></td>
    <td><%= link_to 'Destroy', kit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Kit', new_kit_path %>
