<!DOCTYPE html>
<html>
<head>
  <title>BackstageX</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">
          <div class="well">
            <ul class="nav nav-list">
              <%= render 'layouts/navigation' %>
            </ul>
          </div><!--/.well -->
          <%= yield :left_side %>

        </div>

        <div class="span6">
          <%= yield %>
        </div>

        <div class="span3">
          <%= yield :right_side %>
        </div>

      </div>
  </div>

</body>
</html>
